:root {
    --font-family: "Inter", sans-serif;
    --second-family: "ITC Avant Garde Gothic Std", sans-serif;
    --third-family: "Manrope", sans-serif;
    --main-color: #101C26;
    --text-color: #555c68;
    --title-color: #24272e;
    --beige-color: rgba(240, 231, 20, 0.2);
    --dark-color: #2B303B;
    --white-color: #f3f4f6;
    --yellow-color: #f0e714;
}