.about {
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .about-media {
            .about-media__img {
            }
        }
        
        .about-info {
            max-width: 628px;
            &__title {
                margin-bottom: 16px;
            }
            &__text {
                margin-bottom: 40px;
                max-width: 508px;
            }
            &__link {
                font-weight: 500;
                font-size: 14px;
                line-height: 157%;
                color: var(--yellow-color);
                border-radius: 122px;
                background-color: var(--title-color);
                padding: 14px 34px 14px 34px;

            }
        }
        
    }
}

@media(max-width: 750px) {
    .about {
        &__inner {
            flex-direction: column;
            gap: 70px;
        }
    }
}

